<div class="staticMenu">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-2 StaticMenuOption">
      <span [ngx-scroll-to]="'about'" class="pointer noSelect">About Us</span>
    </div>
    <div class="col-2 StaticMenuOption">
      <span [ngx-scroll-to]="'whatwedo'" class="pointer noSelect">What We Do</span>
    </div>
    <div class="col-2 StaticMenuOption">
      <span [ngx-scroll-to]="'ourteam'" class="pointer noSelect">Our Team</span>
    </div>
    <div class="col-2 StaticMenuOption">
      <span [ngx-scroll-to]="'contact'" class="pointer noSelect">Contact Us</span>
    </div>
    <div class="col-3"></div>
  </div>
</div>


<div class="logo noSelect">
  <div style="text-align:center" class="FontTrajan FontLarge">
    <span class="FontDarkGreen">Bonsai</span><span class="FontGrey">Capital</span>
  </div>
</div>

<div class="animatedLogo" alignCenter>
  <img class="animatedBonsaiLogo" src="../assets/img/bonsailogo_animated.svg">
</div>


<div class="about" id="about">
  <div class="row BackgroundGray AboutHeaderPadding">
    <div class="col">
      <div class="row">
        <div class="col alignCenter noSelect">
          <span class="SectionHeader">About us</span>
        </div>
      </div>
      <div class="row">
        <div class="col alignCenter noSelect SectionSeperator">
          <span>
            <svg height="7" width="200">
              <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(0,0,0);stroke-width:7" />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row aboutBasics BackgroundGray">
    <div class="col-1"></div>
    <div class="col-3 alignRight">
      <img class="bonsaiLogo" src="../assets/img/bonsailogostrokedL.png">
    </div>
    <div class="col-7 aboutBasicsMainText">
      <span>Bonsai Capital provides boutique investment banking services, bringing together Israeli technology companies and international equity, financial and strategic in nature. Bonsai Capital's services include raising growth funds for Israel-based technology companies and scouting investment and M&A opportunities for international firms, financial & strategic.<br><br></span>
      <span>Bonsai Capital maintains and serves a large investor community, based primarily in North America, China, Japan, and Australia, with local partners and affiliates based in Hong-Kong, Japan, and Australia.<br><br></span>
      <span>The company's strength lies in its team's ability to screen attractive opportunities for investment & acquisitions and guide its technology clients through the complex process of raising funds or selling their company. Bonsai Capital’s local Israeli team has many years of experience in managing and growing high-tech companies as well as in investment management acting both in top management and VC roles.</span>
    </div>
    <div class="col-1"></div>
  </div>
</div>




<div class="WhatWeDo" id="whatwedo">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col alignCenter noSelect">
          <span class="SectionHeader">What We Do</span>
        </div>
      </div>
      <div class="row">
        <div class="col alignCenter noSelect SectionSeperator">
          <svg height="7" width="200">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(0,0,0);stroke-width:7" />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="row WhatWeDoOptions">
    <div class="col-3"></div>
    <div class="col-2 capability">
      <div class="row">
        <div class="col alignCenter">
          <img [ngClass]="{capabilityImage : true, pointer : true, opacity30 : currentSelectedOption != 'Scouting'}" (click)="selectWhatWeDo('Scouting')" src="../assets/img/bank.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col alignCenter noSelect">
          <span class="capabilitiesHeader">Scouting</span>
        </div>
      </div>
    </div>
    <div class="col-2 capability">
      <div class="row">
        <div class="col alignCenter">
          <img [ngClass]="{capabilityImage : true, pointer : true, opacity30 : currentSelectedOption != 'FundRaising'}" (click)="selectWhatWeDo('FundRaising')" src="../assets/img/money.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col alignCenter noSelect">
          <span class="capabilitiesHeader">Fund Raising</span>
        </div>
      </div>
    </div>
    <div class="col-2 capability">
      <div class="row">
        <div class="col alignCenter">
          <img [ngClass]="{capabilityImage : true, pointer : true, opacity30 : currentSelectedOption != 'MNA'}" (click)="selectWhatWeDo('MNA')" src="../assets/img/puzzle.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col alignCenter noSelect">
          <span class="capabilitiesHeader">M&A</span>
        </div>
      </div>
    </div>
    <div class="col-3 capability"></div>
  </div>
  <div class="row WhatWeDoContent">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-4 WhatWeDoContentHeader alignRight">
          <span>{{whatWeDoLeft}}</span>
        </div>
        <div class="col-8 WhatWeDoContentMain alignLeft">
          <span>{{whatWeDoRight}}</span>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>


<div class="ourTeam" id="ourteam">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col alignCenter noSelect">
          <span class="SectionHeader">The Team</span>
        </div>
      </div>
      <div class="row">
        <div class="col alignCenter noSelect SectionSeperator">
          <svg height="7" width="200">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(0,0,0);stroke-width:7" />
          </svg>
        </div>
      </div>
    </div>
  </div>



  <div class="row profiles">

    <div class="col-4 member memberRight">
      <div [ngClass]="{opacity60 : memberInfoSelected != 'uri'}">
        <div class="row">
          <div class="col">
            <img class="memberImg pointer" src="../assets/img/UriProfile.jpg" (click)="changeMemberText('uri')">
          </div>
        </div>
        <div class="row memberName">
          <div class="col">
            <span >Uri Feldman</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 member">
      <div [ngClass]="{opacity60 : memberInfoSelected != 'eran'}">
        <div class="row">
          <div class="col">
            <img class="memberImg pointer" src="../assets/img/EranProfile.jpg" (click)="changeMemberText('eran')">
          </div>
        </div>
        <div class="row memberName">
          <div class="col">
            <span>Eran Ayzik</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 member memberLeft">
      <div [ngClass]="{opacity60 : memberInfoSelected != 'kenny'}">
        <div class="row">
          <div class="col">
            <img class="memberImg pointer" src="../assets/img/KennyProfile.jpg" (click)="changeMemberText('kenny')">
          </div>
        </div>
        <div class="row memberName">
          <div class="col">
            <span>Kenny Chan</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="memberDescription row">
    <div class="col-2"></div>
    <div class="col-8">
      <p class="alignLeft">{{memberInfoDescription}}</p>
    </div>
    <div class="col-2"></div>
  </div>
</div>



<div class="contact" id="contact">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col alignCenter noSelect">
          <span class="SectionHeader">Contact Us</span>
        </div>
      </div>
      <div class="row">
        <div class="col alignCenter noSelect SectionSeperator">
          <svg height="7" width="200">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(0,0,0);stroke-width:7" />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="row emailForm">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-5 alignRight contactText">
          <span class="FontBold noSelect">
            Contact us today!<br>
          </span>
          <span class="FontBold">
            info@bonsaicapital.net
          </span>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width width90percent contactSingle">
                <input matInput required placeholder="Name">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width width90percent contactSingle">
                <input matInput required placeholder="Mail">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width width90percent contactMulti">
                <textarea rows="5" matInput placeholder="Message"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
