<!--The content below is only a placeholder and can be replaced.-->
<div class="logo noSelect">
  <div style="text-align:center" class="FontTrajan FontLarge">
    <span class="FontDarkGreen">Bonsai</span><span class="FontGrey">Capital</span>
  </div>
</div>


<div class="menu noSelect">
  <div class="row">
    <div class="col-5 leftMenuOptions">
      <span class="menuLeftOne menuButton">ABOUT US</span>
      <span class="menuLeftTwo menuButton">INVESTMENT BANKING</span>
      <span class="menuLeftThree menuButton">MARKET NEWS</span>
    </div>
    <div class="col-2 spinner">
      <div style="overflow: hidden">
        <div class="outerCircle"></div>
        <div class="innerCircle"></div>
        <div class="bonsaiSpinnerLogo"><span class="spinnerB FontDarkGreen">B</span><span class="spinnerC FontGrey">C</span></div>
      </div>
    </div>
    <div class="col-5 rightMenuOptions">
      <span class="menuRightThree menuButton">CONTACT US</span>
      <span class="menuRightTwo menuButton">CORPORATE FUNDING</span>
      <span class="menuRightOne menuButton">OUR TEAM</span>
    </div>
  </div>
</div>


<div class="about BackgroundGray">
  <div class="row aboutBasics">
    <div class="col-1"></div>
    <div class="col-3 alignRight">
      <img class="bonsaiLogo" src="../assets/img/bonsailogostrokedL.png">
    </div>
    <div class="col-7 aboutBasicsMainText">
      <span>Bonsai Capital's investment banking services are centered on international equity and technology made in Israel<br><br></span>
      <span>Bonsai Capital's strength lies in its leader's experience to identify and screen deal-flow for investment purposes and on its proven ability to make the right connections between investors/buyers and companies/sellers. </span>
    </div>
    <div class="col-1"></div>
  </div>
  <!--<mat-expansion-panel class="BackgroundGray noBorder mat-elevation-z0" [hideToggle]="true">-->
    <!--<mat-expansion-panel-header>-->
      <!--<div class="aboutExpand">-->
        <!--<mat-icon class="expandArrow">expand_more</mat-icon>-->
      <!--</div>-->
    <!--</mat-expansion-panel-header>-->
    <!--<p>This is the primary content of the panel.</p>-->
  <!--</mat-expansion-panel>-->
</div>

<div class="row ourTeam">
  <div class="col-4 member">
    <span>
      <img class="memberImg" src="../assets/img/UriProfile.jpg">
    </span>
    <br>
    <span class="memberName">Uri Feldman</span>
  </div>
  <div class="col-4 member">
    <span>
      <img class="memberImg" src="../assets/img/EranProfile.jpg">
    </span>
    <br>
    <span class="memberName">Eran Ayzik</span>
  </div>
  <div class="col-4 member">
    <span>
      <img class="memberImg" src="../assets/img/KennyProfile.jpg">
    </span>
    <br>
    <span class="memberName">Kenny Chan</span>
  </div>

</div>

<div class="footerTemp"></div>
