@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: TrajanProRegular;
  src: url(assets/fonts/TrajanProRegular/trajanp0-webfont.ttf) format("opentype");
}
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  background-image: url("/assets/img/charts2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% auto;
}

.mobileShow {display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
  .mobileShow {display: inline;}
}
.mobileHide { display: inline; }
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
  .mobileHide { display: none;}
}


.width90percent{
  width: 90%;
}

.opacity30{
  opacity: 0.3;
}
.opacity60{
  opacity: 0.6;
}
.opacity90{
  opacity: 0.9;
}
.opacity100{
  opacity: 0.9;
}

.alignLeft{
  text-align: left;
}
.alignRight{
  text-align: right;
}
.alignCenter{
  text-align: center;
}

.FontBold{
  font-weight: bold;
}
.FontDarkGreen{
  color: #0e5c11;
}
.FontGrey{
  color: #a1aea5;
}
.FontTrajan{
  font-family: 'TrajanProRegular';
}
.FontLarge{
  font-size: 5em;
}
.noSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.pointer{
  cursor: pointer;
}



.BackgroundGray{
  background: #efefef;
}

.BackgroundWhite{
  background: white;
}





.SectionHeader{
  font-size: 2em;
  font-weight: bold;
}
.SectionSeperator{
  margin: 3em 0 0 0;
}





.staticMenu{
  background: white;
  border-bottom: #a1aea5 solid 1px;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  z-index: 99999;
}
.StaticMenuOption{
  padding: 0.2em 0 0 0;
}


.logo{
  padding: 20em 0 0 0;
  overflow-x: hidden;
  background: white;
}

.outerCircle {
  background-color: transparent;
  border: 8px solid #a1aea5;
  opacity: .5;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 100px;
  width: 7em;
  height: 7em;
  margin: 0 auto;
  -moz-animation: spin 3s infinite ease-in-out;
  -webkit-animation: spin 3s infinite ease-in-out;
}
.innerCircle {
  background-color: transparent;
  border: 5px solid #0e5c11;
  opacity: .5;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 100px;
  width: 5em;
  height: 5em;
  margin: 0 auto;
  position: relative;
  top: -6em;
  -moz-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spin {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}

.spinnerB{
  position: relative;
  top: -6.4em;
  opacity: 0.8;
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 25px;
}
.spinnerC{
  opacity: 0.8;
  position: relative;
  top: -5.9em;
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 25px;
}

.animatedLogo{
  height: 30em;
  width: 100%;
  background: white;
  text-align: center;
}
.animatedBonsaiLogo{
  height: 30em;
  width: auto;
}

.menu{
  overflow: hidden;
  padding: 0 0 10em 0;
  background: white;
}
.spinner{
  text-align: center;
}
.rightMenuOptions{
  text-align: left;
  top: 2.5em;
}
.leftMenuOptions{
  text-align: right;
  top: 2.5em;
}
.menuLeftOne{

}
.menuLeftTwo{
  top: 2em;
  position: relative;
}
.menuLeftThree{
  top: 4em;
  position: relative;
}
.menuRightOne{

}
.menuRightTwo{
  top: 2em;
  position: relative;
}
.menuRightThree{
  top: 4em;
  position: relative;
}
.menuButton{
  color: #a1aea5;
  font-weight: bold;
  opacity: .7;
}
.menuButton:hover{
  color: #0e5c11;
  cursor: pointer;
  opacity: 1;
}




.about{
  width: 100%;
  padding: 20em 0 10em 0;
  overflow-x: hidden;
  background: white;
}
.AboutHeaderPadding{
  padding-top: 4em;
}
.aboutBasics{
  width: 100%;
  padding: 7em 0 4em 0;
}
.aboutBasicsMainText{
  text-align: left;
  font-size: 23px;
  opacity: 0.9;
  font-family: Proxima Nova;
}
.bonsaiLogo{
  top: -3.5em;
  margin: 0 2em 0 0;
  position: relative;
  width: 18em;
  height: auto;
}
.aboutExpand{
  width: 100%;
  text-align: center;
}
.expandArrow{
  font-weight: bold;
  font-size: 1.5em;
  color: #0e5c11;
}
/*.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover*/
/*{*/
  /*background: #efefef;*/
/*}*/





.WhatWeDo{
  width: 100%;
  min-height: 85em;
  overflow-x: hidden;
  padding: 15em 0 5em 0;
  background: white;
}
.capability{

}
.capabilityImage{
  width: 9em;
  height: auto;
  text-align: center;
}
.capabilitiesHeader{
  width: 100%;
  text-align: center;
}
.WhatWeDoOptions{
  margin: 7em 0 7em 0;
}
.WhatWeDoHeader{
  margin: 0 0 12em 0;
}
.WhatWeDoContent{
  white-space: pre-line;

}
.WhatWeDoSeperator{
  margin: 3em 0 0 0;
}
.WhatWeDoContentHeader{
  font-size: large;
  font-weight: bold;
}
.WhatWeDoContentMain{
  padding-left: 1em;
}


.ourTeam{
  width: 100%;
  height: auto;
  margin: 10em 0 10em 0;
  padding: 7em 0 7em 0;
  overflow-x: hidden;
  text-align: center;
  background: white;
}
.profiles{
  padding: 7em 0 3em 0;
}
.member{
}
.memberRight{
  right: -10em;
}
.memberLeft{
  left: -10em;
}
.memberImg{
  width: auto;
  height: 20em;
}
.memberName{
  padding: 1em 0 0 0;
  font-size: 1.2em;
  font-weight: bold;
}
.meetMember{

}
.meetMemberButton{
  color: #a1aea5;
}
.memberDescription{
  padding: 4em 0 0 0;
  width: 100%;
  text-align: left;
}
.memberInfoName{
  font-size: 1.1em;
  font-weight: bold;
}
.memberInfoTitle{
  font-weight: bold;
  color: #0e5c11;
  margin: 0 0 1em 0;
}
.memberInfoDescription{
  /*padding: 1em 0 0 0;*/
}


.contact{
  padding: 25em 0 25em 0;
  width: 100%;
  overflow-x: hidden;
  background: white;
}
.emailForm{
  margin: 7em 0 0 0;
}
.contactText{
  font-size: 1.2em;
  padding: 0.5em 2em 0 0;
}
.contactSingle{

}
.contactMulti{
  height: 2em;
}
.contactFormButton{
  text-align: left;
  margin: 2em 0 0 0;
  padding: 0;
}



.logoMobile{
  padding: 3em 0 1em 0;
  background: white;
  font-size: 2em;
  height: auto;
}
.mobileAnimatedBonsaiLogo{
  width: 60%;
  height: auto;
}
.mobileAnimatedLogo{
  text-align: center;
  margin: 0;
  padding: 0 0 5em 0;
  background: white;
}
.mobileAbout{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 2em 0 3em 0;
}
.mobileAboutContent{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.mobileAboutContentHeader{
  font-weight: bold;
}
.mobileWhatWeDo{
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5em 0 3em 0;
}
.mobileWhatWeDoContent{
  width: 100%;
  text-align: center;
  margin: 0;
}
.mobileWhatWeDoImage{
  width: 90%;
  height: auto;
}
.mobileWhatWeDoOption{
  text-align: center;
  font-size: 0.7em;
}
.mobileWhatWeDoInfo{
  width: 100%;
  text-align: center;
  padding: 2em 0 2em 0;
  margin: 0;
}
.mobileWhatWeDoInfoMore{
  padding: 1em 0 0 0;
}
.mobileTeam{
  width: 100%;
  text-align: center;
  margin: 2em 0 2em 0;
  padding: 3em 0 7em 0;
}
.mobileTeamMember{

}
.mobileTeamMemberImage{
  height: auto;
  width: 90%;
}
.mobileTeamMemberName{
  padding: 1em 0 0 0;
  font-weight: bold;
  font-size: 0.7em;
}
.mobileTeamInfo{
  padding: 3em 0 0 0;
}
.mobileContact{
  width: 100%;
  text-align: center;
  margin: 2em 0 2em 0;
  padding: 5em 0 3em 0;
}
.mobileContactInfo{
  width: 100%;
  text-align: center;
}
.contactHeader{
  font-size: 1.2em;
}
.contactMail{
  font-size: 1.2em;
}
